@{
    ViewData["Title"] = "Create event";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/Home/CreateEvents" method="post">
        <input type="text" value="1" name="create" hidden>
        <button type="submit">Create</button>
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>